/* Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #6a38c2;
  --primary-color-dark: #6132b4;
  --text-dark: #262626;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.section__header span {
  color: var(--primary-color);
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

/* Button */
.btn {
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color); 
  font-size: 1rem;
  color: var(--white);                 
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;                       
  transition: all 0.3s ease;            
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background-color: var(--white);        
  color: var(--primary-color);       
  border: 2px solid var(--primary-color); 
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

.btn span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn:hover span {
  transform: scale(1.1); 
}
